<ion-header>
  <ion-toolbar>
    <ion-title>About us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>About Me</h3>
  <p>My name is Jia Jun Tan, this project is creating for the final year project in DKIT.</p>
  <p>This project mainly is to help lecturers to reduce their workload for taking attendance, and allow lecturers to
    make change on the timetable anytime.</p>
  <p>It also allow student to check their timetable regulary in a convenient way</p>
</ion-content>