.pl-2 {
    padding-left: 10px;
}

.avatar {
    margin: auto;
    border: 1px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
    // text-align: center;
    justify-content: safe center;
}

ion-item {
    --background: grey;
}

p {
    text-align: center;
    justify-content: center;
    // font-size: 30px;
    margin-top: 15px;
    margin-bottom: 3px;
}
