<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Timetable
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab *ngIf="lecturer" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button fab-icon>
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <button>
        <div class="fab-label fab-label-att" [routerLink]="['/modify-timetable']">Modify Timetable</div>
      </button>
    </ion-fab-list>
  </ion-fab>
  <ion-list>
    <ion-item>
      <ion-label>Module</ion-label>
      <ion-label>Classroom</ion-label>
      <ion-label>From</ion-label>
      <ion-label>To</ion-label>
    </ion-item>
  </ion-list>
  <div *ngFor="let listContent of list">
    <div *ngFor="let ts of listContent">
      <div *ngIf="ts.data.timeslot.dayIndex == 1">
        <h5>Monday</h5>
        <ion-list>
          <ion-item>
            <ion-label>{{ts.data.module_id}}</ion-label>
            <ion-label>{{ts.data.timeslot.classroom}}</ion-label>
            <ion-label>{{[ts.data.timeslot.start_time.slice(0,2),ts.data.timeslot.start_time.slice(2)].join(':') }}
            </ion-label>
            <ion-label>{{[ts.data.timeslot.end_time.slice(0,2),ts.data.timeslot.end_time.slice(2)].join(':') }}
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="ts.data.timeslot.dayIndex == 2">
        <h5>Tuesday</h5>
        <ion-list>
          <ion-item>
            <ion-label>{{ts.data.module_id}}</ion-label>
            <ion-label>{{ts.data.timeslot.classroom}}</ion-label>
            <ion-label>{{[ts.data.timeslot.start_time.slice(0,2),ts.data.timeslot.start_time.slice(2)].join(':') }}
            </ion-label>
            <ion-label>{{[ts.data.timeslot.end_time.slice(0,2),ts.data.timeslot.end_time.slice(2)].join(':') }}
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="ts.data.timeslot.dayIndex == 3">
        <h5>Wednesday</h5>
        <ion-list>
          <ion-item>
            <ion-label>{{ts.data.module_name}}</ion-label>
            <ion-label>{{ts.data.timeslot.classroom}}</ion-label>
            <ion-label>{{[ts.data.timeslot.start_time.slice(0,2),ts.data.timeslot.start_time.slice(2)].join(':') }}
            </ion-label>
            <ion-label>{{[ts.data.timeslot.end_time.slice(0,2),ts.data.timeslot.end_time.slice(2)].join(':') }}
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="ts.data.timeslot.dayIndex == 4">
        <h5>Thursday</h5>
        <ion-list>
          <ion-item>
            <ion-label>{{ts.data.module_name}}</ion-label>
            <ion-label>{{ts.data.timeslot.classroom}}</ion-label>
            <ion-label>{{[ts.data.timeslot.start_time.slice(0,2),ts.data.timeslot.start_time.slice(2)].join(':') }}
            </ion-label>
            <ion-label>{{[ts.data.timeslot.end_time.slice(0,2),ts.data.timeslot.end_time.slice(2)].join(':') }}
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="ts.data.timeslot.dayIndex == 5">
        <h5>Friday</h5>
        <ion-list>
          <ion-item>
            <ion-label>{{ts.data.module_id}}</ion-label>
            <ion-label>{{ts.data.timeslot.classroom}}</ion-label>
            <ion-label>{{[ts.data.timeslot.start_time.slice(0,2),ts.data.timeslot.start_time.slice(2)].join(':') }}
            </ion-label>
            <ion-label>{{[ts.data.timeslot.end_time.slice(0,2),ts.data.timeslot.end_time.slice(2)].join(':') }}
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <!-- </div> -->



  </div>
</ion-content>