.fab-label {
    position: relative;
    background: #60c689;
    height: 50px;
    line-height: 35px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
    color: black;
}
.fab-label-att {
    margin-left: -60px; /* Custom for each label */
}
.fab {
    contain: initial;
}

button {
    padding: 0;
}

[fab-icon] {
    --background: #60c689;
    --background-focused: #32313b;
    --background-activated: #32313b;
}
