<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Modify Timetable
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-list>
      <ion-item>
        <ion-label></ion-label>
        <ion-label>Module</ion-label>
        <ion-label>Classroom</ion-label>
        <ion-label>From</ion-label>
        <ion-label>To</ion-label>
      </ion-item>
    </ion-list>
    <div *ngFor="let listContent of list">
      <div *ngFor="let ts of listContent">
        <div *ngIf="ts.data.timeslot.day == 'Monday'">
          <h5>Monday</h5>
          <ion-list>
            <ion-item>
              <ion-label>
                <ion-button>
                  <ion-icon class="delete" name="remove-circle-outline"></ion-icon>
                </ion-button>
              </ion-label>
              <ion-label>{{ts.data.module_id}}</ion-label>
              <ion-label>{{ts.data.timeslot.classroom}}</ion-label>
              <ion-label>{{[ts.data.timeslot.start_time.slice(0,2),ts.data.timeslot.start_time.slice(2)].join(':') }}
              </ion-label>
              <ion-label>{{[ts.data.timeslot.end_time.slice(0,2),ts.data.timeslot.end_time.slice(2)].join(':') }}
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="ts.data.timeslot.day == 'Tuesday'">
          <h5>Tuesday</h5>
          <ion-list>
            <ion-item>
              <!-- <ion-label> -->
              <ion-button id="trigger-button">
                <ion-icon class="delete" name="remove-circle-outline" (click)="deleteConfirm()"></ion-icon>
                <ion-modal trigger="trigger-button" [isOpen]="false" [breakpoints]="[0.1, 0.5, 1]"
                  [initialBreakpoint]="0.5">
                  <ng-template>
                    <ion-content>Modal Content</ion-content>
                  </ng-template>
                </ion-modal>
              </ion-button>
              <!-- </ion-label> -->
              <ion-label>{{ts.data.module_id}}</ion-label>
              <ion-label>{{ts.data.timeslot.classroom}}</ion-label>
              <ion-label>{{[ts.data.timeslot.start_time.slice(0,2),ts.data.timeslot.start_time.slice(2)].join(':') }}
              </ion-label>
              <ion-label>{{[ts.data.timeslot.end_time.slice(0,2),ts.data.timeslot.end_time.slice(2)].join(':') }}
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="ts.data.timeslot.day == 'Wednesday'">
          <h5>Wednesday</h5>
          <ion-list>
            <ion-item>
              <ion-label>
                <ion-icon class="delete" name="remove-circle-outline"></ion-icon>
              </ion-label>
              <ion-label>{{ts.data.module_id}}</ion-label>
              <ion-label>{{ts.data.timeslot.classroom}}</ion-label>
              <ion-label>{{[ts.data.timeslot.start_time.slice(0,2),ts.data.timeslot.start_time.slice(2)].join(':') }}
              </ion-label>
              <ion-label>{{[ts.data.timeslot.end_time.slice(0,2),ts.data.timeslot.end_time.slice(2)].join(':') }}
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="ts.data.timeslot.day == 'Thursday'">
          <h5>Thursday</h5>
          <ion-list>
            <ion-item>
              <ion-label>
                <ion-icon class="delete" name="remove-circle-outline"></ion-icon>
              </ion-label>
              <ion-label>{{ts.data.module_id}}</ion-label>
              <ion-label>{{ts.data.timeslot.classroom}}</ion-label>
              <ion-label>{{[ts.data.timeslot.start_time.slice(0,2),ts.data.timeslot.start_time.slice(2)].join(':') }}
              </ion-label>
              <ion-label>{{[ts.data.timeslot.end_time.slice(0,2),ts.data.timeslot.end_time.slice(2)].join(':') }}
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="ts.data.timeslot.day == 'Friday'">
          <h5>Friday</h5>
          <ion-list>
            <ion-item>
              <ion-label>
                <ion-icon class="delete" name="remove-circle-outline"></ion-icon>
              </ion-label>
              <ion-label>{{ts.data.module_id}}</ion-label>
              <ion-label>{{ts.data.timeslot.classroom}}</ion-label>
              <ion-label>{{[ts.data.timeslot.start_time.slice(0,2),ts.data.timeslot.start_time.slice(2)].join(':') }}
              </ion-label>
              <ion-label>{{[ts.data.timeslot.end_time.slice(0,2),ts.data.timeslot.end_time.slice(2)].join(':') }}
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>



  </div>
</ion-content>