[fab-icon] {
    --background: #60c689;
    --background-focused: #32313b;
    --background-activated: #32313b;
}

#link {
    position: absolute;
    top: 20%; // change this when the page redesign
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 2.5px;
}

#campus {
    position: relative;
    opacity: 0.8;
}

a {
    color: black;
}

.text-center {
    text-align: center;
}

.font-md {
    font-size: 20px;
}

.pb-3 {
    padding-bottom: 7.5px;
}

.font-white {
    color: white;
}

.fab-label {
    position: relative;
    background: #60c689;
    color: black;
    height: 50px;
    line-height: 35px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
}
.fab-label-att {
    margin-left: -60px; /* Custom for each label */
}
.fab {
    contain: initial;
}

button {
    padding: 0;
}
