<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="lecturer">
      <ion-fab-button fab-icon>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <button class="fab-button">
          <div class="fab-label fab-label-att" [routerLink]="['/view-attendance']">View Attendance</div>
        </button>
      </ion-fab-list>
    </ion-fab>

    <div class="text-center">
      <p>Welcome {{firstName}}</p>
    </div>

    <div>
      <ion-label id="link" (click)="openBrowser()">Visit DKIT</ion-label>
      <ion-img id="campus" src="../../assets/campus.png"></ion-img>
    </div>

    <div class="ml">
      <h3>Schedule</h3>
      <div *ngFor="let listContent of list">
        <div *ngFor="let ts of listContent">
          <ng-template [ngIf]="ts.data.timeslot.dayIndex == getToday()">
            <ng-template [ngIf]="ts.data.timeslot.start_time.substring(0,2) >= time">
              <ng-template>
                <p>
                  {{[ts.data.timeslot.start_time.slice(0,2),ts.data.timeslot.start_time.slice(2)].join(':') }}
                  <small>
                    {{ts.data.timeslot.classroom}}</small>
                </p>
                <p>{{ts.data.module_name}}</p>
              </ng-template>
            </ng-template>
          </ng-template>
        </div>
      </div>

    </div>
    <ng-template [ngIf]="finish == numOfClass && numOfClass != 0">
      <p>Class Finish for today.</p>
    </ng-template>

    <ng-template [ngIf]="numOfClass == 0">
      <p>You have no class for today!</p>
    </ng-template>
  </div>

</ion-content>